.thank-you-page-hero {
    position: relative;
    height: calc(100vh - 303px);
    min-height: 600px;
    display: flex;
    align-items: center;
    color: $white;
  
  
    &__bg {
      background-color: #0f294c;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -o-object-fit: cover;
      object-fit: cover;
    }
  
    &__title {
      font-size: 60px;
      line-height: 80px;
      margin-top: 30px;
      margin-bottom: 45px;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 991px) {
        font-size: 36px;
        line-height: 1.4;
      }
      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 1.4;
      }
    }
  
    &__text {
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      padding: 0 5%;
      margin-bottom: 45px;
      @media only screen and (max-width: 600px) {
        font-size: 23px;
        line-height: 36px;
      }
      @media screen and (max-width: 550px) {
        font-size: 18px;
  
      }
    }
  
    &__btn-block {
      text-align: center;
      margin-bottom: 45px;
  
      .form-submit {
        @include styled-button($margin: 0 0 20px 0);
      }
    }
  }
  
  .thenk-you-page {
  
  
    .pol-part {
      padding: 50px 0;
  
      .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .img-fluid {
          max-width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: flex-start;
        }
      }
  
      .section-title {
        font-size: 36px;
        text-align: center;
        max-width: 900px;
        display: block;
        margin: 0 auto 25px;
  
        @media screen and (max-width: 768px) {
          font-size: 30px;
        }
      }
    }
  
  
  }
  
  @media only screen and (max-width: 600px) {
    .thank-you-page {
      &-title {
        font-size: 35px;
        line-height: 50px;
      }
  
      &-text {
        font-size: 23px;
        line-height: 36px;
      }
    }
  }
  