.footer {
    background-color: #0f294c;
    box-shadow: 0 1px 7px rgba(0, 4, 11, .4);
  
    .content {
      padding: 60px 0 40px;
      display: flex;
      gap: 25px;
      flex-direction: column;
      justify-content: space-between;
  
  
  
    }
    .logo {
      display: flex;
      justify-content: center;
      &__img {
        color: $white;
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
      }
  
    }
    .contacts{
      display: flex;
      justify-content: space-between;
      width: 100%;
  flex-wrap: wrap;
      @media (max-width: 1024px) {
     gap: 50px;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap:  35px;
      }
  
    }
    .contacts-wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
  
      @media (max-width: 1024px) {
        align-items: center;
        width: calc(50% - 50px);
      }
      @media (max-width: 768px) {
        text-align: center;
        align-items: center;
        width: 100%;
      }
    }
    .contacts-item{
      display: flex;
      gap: 10px;
      align-items: center;
      color: #fff;
  
      svg{
        fill:$white;
      }
  
      &--free{
        position: relative;
        &:after {
          content: 'Бесплатно по Украине';
          position: absolute;
          left: 23px;
          bottom: -10px;
          line-height: 1;
          color: #fff;
          width: 120px;
          font-size: 10px;
        }
      }
  
    }
    .contact-us{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      color: $white;
      svg{
        fill:$white;
      }
    }
    .social-links{
      display: flex;
      justify-content: center;
      gap: 10px;
    svg{
      fill:$white;
    }
    }
  
    .other{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      @media (max-width: 520px) {
        padding: 0 0 50px 0;
      }
    }
    .control-btn-wrap{
      display: flex;
      justify-content: center;
    }
    .control-btn{
      max-width: 275px;
      font-size: 14px;
      background: #e6e6e6;
      border: 1px solid #d3d3d3;
      border-radius: 13px;
      padding: 5px 12px;
      display: flex;
      text-align: center;
      align-items: center;
      gap: 10px;
      color: #000;
    }
  }
  
  
  
  