.navigation {
    position: fixed;
    top: 0;
    right: -101%;
    bottom: 0;
    z-index: 9999;
    transform: translateX(100%);
    transition: .2s ease-in-out;
    background: rgba(0, 0, 0, .95);
    overflow: auto;
    flex-direction: column;
    padding: 15px 0 0 0;
    @include main_font_regular;
    .breadcrumbs {
      font-size: 13px;
      padding: 10px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      line-height: 17px;
    display: block;
      .container{
        display: flex;
        align-items: center;
  
      }
  
      @media (max-width: 1024px) {
        display: none;
      }
    }
  
    .breadcrumbs__link {
      color: #d3d3d3;
      @include main_font_regular;
    }
    .breadcrumbs__separator{
      fill: #fff;
      margin: 0 10px;
      transform: rotate(450deg);
      stroke: #fff;
      height: 15px;
      width: 13px;
    }
  
    .breadcrumbs__link.active {
      font-weight: bold;
      color: #fff;
  
      font-size: 14px;
      @include main_font_medium;
    }
    @media (min-width: 1025px) {
      background: #0F294C;
      position: static;
      overflow: visible;
      transform: none;
      transition:none;
      padding: 0;
    }
  
  
    &--active {
      transform: translateX(0);
      display: block;
      right: 0;
      left: 0
  
  
    }
  
  
    .main-menu {
  
      @media (min-width: 1025px) {
        display: grid;
        grid-template-columns: repeat(7, minmax(auto, 1fr));
      }
      &__item {
  
        text-align: center;
  
  
        @media (min-width: 1025px) {
  
          @media (min-width: 1025px) {
            &:hover {
              background: $white;
              box-shadow: 0 1px 7px rgba(0, 4, 11, 0.4);
              transition: all ease 0.3ms;
              .main-menu {
                &__link {
                  color: #0f294c;
                }
              }
            }
          }
        }
  
        &--has-sub-menu {
          position: relative;
  
         @media (min-width: 1025px) {
           &:hover {
             background: $white;
             box-shadow: 0 1px 7px rgba(0, 4, 11, 0.4);
             .main-menu{
               &__link{
                 color: #0f294c;
               }
             }
             .sub-menu{
               max-height: 80vh;
             }
           }
         }
        }
  
        &--active {
          background: $white;
  
          @media (min-width: 1025px){
            position: relative;
            z-index: 10;
            color: #0f294c;
            box-shadow: 0 1px 7px rgba(0, 4, 11, 0.4);
  
          }
  
          @media (max-width: 1024px) {
            .sub-menu{
              background: rgba(0,0,0,.95);
            }
          }
  
          .main-menu {
            &__link {
              color: #0F294C;
            }
  
            &__toggle-arrow {
              fill: #0F294C;
            }
          }
  
        }
      }
  
      &__item-content {
        width: 100%;
        padding: 12px;
        @media (min-width: 1025px) {
          padding: 0;
        }
      }
  
      &__link {
       @include main_font_semibold;
        font-size: 16px;
        line-height: 1.2em;
        color: $white;
        padding: 10px;
  
        @media (min-width: 1025px) {
          min-height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: 1px 0 5px rgba(0, 4, 11, .15);
          text-align: center;
          padding: 4px;
          width: 100%;
          @include main_font_regular;
        }
      }
  
      &__toggle-arrow {
        position: relative;
        width: 21px;
        height: 11px;
        transform: rotate(-180deg);
        transform-origin: center center;
        transition: .2s ease-in-out;
        fill: $white;
        @media (min-width: 1025px) {
          display: none;
        }
  
      }
  
      .check{
        transform: rotate(0);
      }
  
    }
    .sub-menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: .2s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: 1025px) {
        position: absolute;
        width: auto;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        background: $white;
  
  
      }
  
  
      &__item {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @media (min-width: 1025px) {
          border: 1px solid #E6E6E6;
          height: 100%;
        }
        &--active {
          background: $white;
          box-shadow: 0 1px 15px rgba(0,4,10,.4);
          .sub-menu {
            &__link {
              color: #0F294C;
  
            }
          }
  
        }
  
  
      }
  
      &__item-content {
        width: 300px;
        @media (min-width: 1025px) {
          width: auto;
        }
      }
      &__link {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 10px;
        line-height: 1.2em;
        color: $white;
        padding: 12px;
        @media (min-width: 1025px) {
          text-align: start;
          align-items: center;
          column-gap: 20px;
  
          color: #0F294C;
          padding: 14px;
        }
      }
  
      &__img {
  
        max-width: 100%;
        max-height: 100%;
        width: 26px;
        height: 20px;
        display: block;
        @media (min-width: 1025px) {
  
        }
      }
  
      &__img-mark {
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translate(80%, -45%);
        height: 26px;
        @media (max-width: 575px) {
          right: 22px;
        }
        @media (max-width: 375px) {
          display: none;
        }
        @media (min-width: 1025px) {
          position: absolute;
          top: 10px;
          right: 38px;
          width: 46px;
          height: auto;
        }
      }
  
  
  
      &--active {
        max-height: 200vh;
      }
    }
    .social-links{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:  0 5px;
      border-bottom: 2px solid $white;
  
      @media (min-width: 1025px) {
        display: none;
      }
      &__link{
        display: flex;
        align-items: center;
  
        margin: 8px 0 24px;
        svg{
          fill:$white;
        }
      }
    }
    .close-btn{
      display: block;
      background: none;
      border: none;
      margin: 15px 20px 15px auto;
      @media (min-width: 1025px) {
        display: none;
      }
    }
    .more-details{
      padding: 24px 15px 24px;
      &__info{
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      &__link{
        align-items: center;
        gap: 5px;
        svg{
          fill:$white
        }
      }
      @media (min-width: 1025px){
        display: none;
      }
    }
    .contacts{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid $white;
      padding: 15px;
  
  
      @media (min-width:1025px) {
        display: none;
      }
      &__item{
  
        &:not(:last-of-type) {
          margin: 0;
        }
      }
  
      .contact-link{
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
  
        &--free{
          margin-bottom: 15px;
          &:after{
            content: attr(data-note);
            position: absolute;
            left: 40px;
            bottom: -10px;
            font-weight: 500;
            font-size: 10px;
            line-height: 1.2em;
            color: $white;
  
          }
        }
  
        &__icon{
          fill: $white;
        }
      }
    }
  }
  
  
  
  
  
  