.send-review-form {
    padding: 50px 0;
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  
    &__wrapper {
      border: 3px solid #fff;
    }
  
  
    h2 {
      @include main_font_medium;
      font-size: 36px;
      line-height: 155.7%;
      display: block;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #0F294C;
      background-color: #fff;
    }
  
    form {
      padding: 70px 15px 0;
      display: block;
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      @media (max-width: 520px) {
        padding: 40px 15px 0;
      }
      label{
        position: relative;
        display: block;
        .validation-field {
          position: absolute;
          left: 0;
          bottom: 7px;
          width: max-content;
        }
      }
      #custom-select-label{
        .validation-field {
          position: absolute;
          left: -20px;
          bottom: -60px;
          width: max-content;
        }
      }
      #textarea-label{
        .validation-field {
          position: absolute;
          left: 0;
          bottom: -15px;
        }
      }
  
  
      input {
  
        width: 100%;
        @include main_font_medium;
        background: $white;
        border: 0;
        outline: none;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #0F294C;
        padding: 10px 20px;
        margin-bottom: 30px;
  
      }
  
  
      #pos{
        textarea{
          padding: 10px 20px;
        }
        span{
          bottom: -20px;
        }
      }
  
      .textarea {
        width: 100%;
        background: #fff;
        @include main_font_medium;
        min-height: 140px;
        resize: none;
        outline: none;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #0F294C;
        padding-top: 5px;
  &--photo-form{
    position:relative;
  }
      }
    }
  
    #photo-label{
      .validation-field{
        bottom: -30px;
      }
    }
  
    .custom-select {
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      @include main_font_medium;
      border: 0;
      outline: none;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #BDBDBD;
      padding: 10px 20px;
      background-color: white;
      .validation-field {
        position: absolute;
        left: 0;
        bottom: -25px;
        width: max-content;
      }
  
  
  
      select {
        display: none;
      }
  
  
      .select-items {
        position: absolute;
        color: #818181;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: white;
  
        div {
          padding: 10px 20px;
          @include main_font_medium;
          cursor: pointer;
          border: 0;
          outline: none;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #0F294C;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #F0F0F0;
  
          &:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
            color: black;
          }
        }
  
      }
  
      .select-hide {
        display: none;
      }
  
      .select-selected {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include main_font_medium;
        border: 0;
        outline: none;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #0F294C;
  
        &:after {
          position: absolute;
          content: "";
          top: 20px;
          right: 18px;
          width: 2px;
          background-color: black;
          height: 9px;
          transform: rotate(
                          45deg);
        }
        &:before {
          position: absolute;
          content: "";
          top: 20px;
          right: 23px;
          width: 2px;
          background-color: black;
          height: 9px;
          transform: rotate(
                          137deg);
        }
      }
  
      .select-selected.select-arrow-active:after {
        transform: rotate(
                        137deg);
      }
  
      .select-selected.select-arrow-active:before {
        transform: rotate(
                        45deg);
      }
    }
  
    .validation-field {
      color: red;
      font-size: 12px;
      width: max-content;
    }
  
    .send-form {
      background: #AC1721;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
      border-radius: 38px;
     @include main_font_semibold;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #FFFFFF;
      flex: none;
      border: 0;
      outline: none;
      margin: 50px auto -33px;
      order: 0;
      flex-grow: 0;
      padding: 20px;
      cursor: pointer;
    }
  
  }
  
  
  
  
  
  
  
  
  
  .modal-success-review {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
  }
  
  .overflow-bg {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transition: all .1s ease-in-out;
    visibility: hidden;
  }
  
  .show-modal-success {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-success-review__wrapper {
    position: relative;
    padding: 30px;
  }
  
  .close-popup {
    position: absolute;
    right: 7px;
    top: 7px;
    color: #000;
    cursor: pointer;
  }
  
  .modal-success-review__wrapper__block {
  
  }
  
  .modal-success-review__wrapper__block img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto 30px;
  }
  
  .modal-success-review__wrapper__block p {
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
  
  